@use "@/app/_breakpoints.scss" as *;
@use "@/app/globals.scss" as *;

.ff-homepage-feature-wrapper {
  height: 1140px;
  display: flex;
  flex-direction: column;
  position: relative;

  .ff-homepage-feature-text-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding-top: 50px;
    background-color: #29102d;
    color: #fff;
    height: 750px;
    clip-path: ellipse(130% 100% at 50% 0%);

    .ff-homepage-feature-main-text {
      display: flex;
      flex-direction: column;
      align-items: center;
      @include font-style(600, 36px);
      span {
        display: block;
      }

      @include sm {
        @include font-style(600, 36px);
      }
    }

    .ff-homepage-feature-sub-text {
      display: flex;
      flex-direction: column;
      align-items: center;

      span {
        display: block;
      }
    }

    // Button section
    .ff-homepage-feature-button {
      width: 160px;
      height: 34px;
      border-radius: 8px;
      border: none;
      background-color: #fff;
      color: #29102d;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .ff-homepage-feature-img-section {
    .ff-homepage-feature-img {
      position: absolute;
      top: 35%;
      left: 7.5%;
    }
  }
}
