.ff-homepage-blog-wrapper {
  .ff-homepage-blog-text-section {
    font-size: 36px;
    font-weight: 700;
    display: flex;
    flex-direction: column;
  }
  .ff-homepage-blog-btn-section {
    button {
      font-size: 20px;
      font-weight: 600;
    }
  }
  .ff-homepage-blog-accordion-section {
    width: 1120px;
    height: 466px;
    background-color: #fff;
  }
  .ff-homepage-blog-text-section,
  .ff-homepage-blog-btn-section,
  .ff-homepage-blog-accordion-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 0 auto;
  }

  .ff-homepage-blog-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    .ff-homepage-blog-heading {
      font-size: 36px;
      font-weight: 700;
    }
    .ff-homepage-blog {
      height: 482px;
      display: flex;
      justify-content: center;
      gap: 16px;
    }
    .ff-homepage-blog-btn {
      height: 36px;
      width: 132px;
    }
  }
}
