*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*::before,
*::after,
html,
body {
  font-family: "Poppins" !important;
}

/* "font-weight:300" font-light
    "font-weight:400"  font-regular
    "font-weight:500" font-medium
    "font-weight:600" font-semibold
    "font-weight:700" font-bold */

.font-light {
  font-weight: 300;
  font-size: 12px;
}
.font-regular-300 {
  font-weight: 400;
  font-size: 14px;
}
.font-regular-500 {
  font-weight: 400;
  font-size: 18px;
}
.font-medium-300 {
  font-weight: 500;
  font-size: 14px;
}
.font-medium-400 {
  font-weight: 500;
  font-size: 16px;
}
.font-medium-500 {
  font-weight: 500;
  font-size: 18px;
}
.font-medium-600 {
  font-weight: 500;
  font-size: 20px;
}
.font-semibold-400 {
  font-weight: 600;
  font-size: 16px;
}
.font-semibold-500 {
  font-weight: 600;
  font-size: 18px;
}
.font-semibold-800 {
  font-weight: 600;
  font-size: 36px;
}
.font-semibold-900 {
  font-weight: 600;
  font-size: 48px;
}
.font-bold-500 {
  font-weight: 700;
  font-size: 18px;
}
.font-bold-800 {
  font-weight: 700;
  font-size: 36px;
}
.highlight-text {
  color: #71347b;
}
